<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .form-container{max-width: 300px; padding-top: 15vh;}
        .logo{height:60px; display: block; margin: auto;}
        header{display: block; margin: auto;}
        body{background-color: black;}
        form{color: white;}
        .info{color: green;}
        .erro{color: red;}
        .selecione {max-width: 30vh;}
        .lista{max-width: 30vh;}
        .pad{margin-bottom: 2vh;}
        .left{display: block; margin: auto;}
        .center{width: 50%; background-color: rgb(26, 226, 110);}
        .right{width: 25%; background-color: rgb(255, 0, 200);}
        .secoes{display: flex; margin-top: 3%;}
        .dia_nome{display: block; margin: auto;}
        .botao_adicionar{width: 30vh;}
        .novo_treino{color: black;}
        .seriesrep{display: flex;}
        .exe{max-width: 100%;}
        .sdiv, .rdiv{width: 50%;}
        .red{background-color: red;}
    </style>

    <title>Planos</title>
  </head>

  <body class="py-4">

    <header>
        <img class="logo" src="https://iili.io/32hjVup.png">
    </header>

    <div class="secoes">
      <section class="left ">
        <form class="dia_nome" action="{% url 'planos' %}?token={{ token }}" method="post">{% csrf_token %}
          <select onchange="this.form.submit()" name="aluno" class="form-select selecione pad" aria-label="Default select example">
              {% for aluno in alunos %}
              <option type="submit" {% if aluno == "{{aluno.id}}" %}selected{% endif %} value="{{aluno.id}}">{{aluno.nomeAluno}}</option>
              {% endfor %}
          </select>

            <select onchange="this.form.submit()" name="dia" type="submit" class="form-select selecione pad" aria-label="Default select example">
              <option value="Selecione o Dia" selected >Selecione o Dia</option>
              <option value="1" {% if dia_selecionado == "1" %}selected{% endif %} >Segunda</option>
              <option value="2" {% if dia_selecionado == "2" %}selected{% endif %} >Terça</option>
              <option value="3" {% if dia_selecionado == "3" %}selected{% endif %} >Quarta</option>
              <option value="4" {% if dia_selecionado == "4" %}selected{% endif %} >Quinta</option>
              <option value="5" {% if dia_selecionado == "5" %}selected{% endif %} >Sexta</option>
              <option value="6" {% if dia_selecionado == "6" %}selected{% endif %} >Sábado</option>
              <option value="7" {% if dia_selecionado == "7" %}selected{% endif %} >Domingo</option>
          </select>

          
          <div class="list-group lista pad">
            {% for treino in treinos %}
              <button type="button" value={{treino}} class="list-group-item list-group-item-action treinos"
              data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{ treino.id }}" >
              {{treino.exercicio.nomeExercicio}},
              Séries: {{treino.series}},
              Repetições: {{treino.repeticoes}},
              OBS: {{treino.observacoes}}
              </button>
            {% endfor %}
          </div>
        </form>




        <script>
          document.addEventListener("DOMContentLoaded", function () {
              const treinoBotoes = document.querySelectorAll(".treinos");
        
              treinoBotoes.forEach(botao => {
                  botao.addEventListener("click", function () {
                      let treinoId = this.getAttribute("data-id");
                      let alunoSelecionado = document.querySelector("select[name='aluno']").value;
                      let diaSelecionado = document.querySelector("select[name='dia']").value;
                

                      document.getElementById("save_treino").value = treinoId;
                      document.getElementById("save_aluno_1").value = alunoSelecionado;
                      document.getElementById("save_dia_1").value = diaSelecionado;
                      document.getElementById("save_treino1").value = treinoId;
                      document.getElementById("save_aluno_2").value = alunoSelecionado;
                      document.getElementById("save_dia_2").value = diaSelecionado;
                  });
              });
          });
        </script>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
              document.querySelector(".botao_deletar").addEventListener("click", function () {
                  let alunoSelecionado = document.querySelector("select[name='aluno']").value;
                  let diaSelecionado = document.querySelector("select[name='dia']").value;

                  document.getElementById("save_aluno").value = alunoSelecionado;
                  document.getElementById("save_dia").value = diaSelecionado;
              });
          });
          </script>

          <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.querySelector(".botao_adicionar").addEventListener("click", function () {
                    let alunoSelecionado = document.querySelector("select[name='aluno']").value;
                    let diaSelecionado = document.querySelector("select[name='dia']").value;
            
                    document.getElementById("save_aluno").value = alunoSelecionado;
                    document.getElementById("save_dia").value = diaSelecionado;
                });
            });
            </script>









        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Treino</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="novo_treino" action="{% url 'editar_treino' %}?token={{ token }}" method="post">{% csrf_token %}
                
                  <input type="hidden" name="save_treino" id="save_treino">
                  <input type="hidden" name="aluno" id="save_aluno_1">
                  <input type="hidden" name="dia" id="save_dia_1">

                Exercício

                <select name="exercicio" class="form-select selecione pad exe" aria-label="Default select example">
                  {% for exercicio in exercicios %}
                  <option value="{{exercicio.id}}">{{exercicio.nomeExercicio}}</option>
                  {% endfor %}
                </select>
                
                <div class="seriesrep">

                  <div class="sdiv">
                    Séries
                    <select name="series" class="form-select pad" aria-label="Default select example">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                </div>

                <div class="rdiv">
                  Repetições
                  <select name="reps" class="form-select selecione pad" aria-label="Default select example">
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                  </select>
                </div>
              </div>

                <div class="mb-3" >
                  <label class="form-label">Observações</label>
                  <textarea class="form-control" rows="3" name="obs"></textarea>
                </div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </form>
              <form class="novo_treino" action="{% url 'deletar_treino' %}?token={{ token }}" method="post">{% csrf_token %}
                <input type="hidden" name="save_treino" id="save_treino1">
                <input type="hidden" name="aluno" id="save_aluno_2">
                <input type="hidden" name="dia" id="save_dia_2">
                <button type="submit" class="btn btn-primary red botao_deletar" >Deletar exercício</button>
                
              </form>
              </div>
           
            </div>
          </div>
        </div>
        















        <button data-bs-toggle="modal" data-bs-target="#popupExercicio" type="button" class="btn btn-primary botao_adicionar">Novo Exercicio</button>
        
        <div class="modal fade" id="popupExercicio" tabindex="-1" aria-labelledby="popupExercicioLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="popupExercicioLabel">Adicionar Exercício</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              
             

              <div class="modal-body">
                <form class="novo_treino" action="{% url 'novo_treino' %}?token={{ token }}" method="post">{% csrf_token %}
                  
                  <input type="hidden" name="aluno" id="save_aluno">
                  <input type="hidden" name="dia" id="save_dia">

                  Exercício

                  <select name="exercicio" class="form-select selecione pad exe" aria-label="Default select example">
                    {% for exercicio in exercicios %}
                    <option value="{{exercicio.id}}">{{exercicio.nomeExercicio}}</option>
                    {% endfor %}
                  </select>
                  
                  <div class="seriesrep">

                    <div class="sdiv">
                      Séries
                      <select name="series" class="form-select pad" aria-label="Default select example">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                  </div>

                  <div class="rdiv">
                    Repetições
                    <select name="reps" class="form-select selecione pad" aria-label="Default select example">
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                    </select>
                  </div>
                </div>

                  <div class="mb-3" >
                    <label class="form-label">Observações</label>
                    <textarea class="form-control" rows="3" name="obs"></textarea>
                  </div>
              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
            </form>
            </div>
          </div>
        </div>

    </section>

  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>

</html>



